body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Calibri, "Trebuchet MS", sans-serif;
}

.bg-grey {
  background-color: #f8f8f9;
  font-family: inter;
}

@font-face {
  font-family: inter;
  src: url(../../fonts/inerFontFam/Inter/static/Inter_18pt-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: inter;
  src: url(../../fonts/inerFontFam/Inter/static/Inter_28pt-Medium.ttf);
  font-weight: 400;
  font-style: normal;
}
