/* base */
@import "../base/base.css";
@import "../base/layout.css";

/* vendors */

@import "../vendors/font-awesome.min.css";

/*components*/
@import "../components/backToTopButton.css";
@import "../components/footer.css";
@import "../components/header.css";
@import "../components/buttons.css";
@import "../components/mobile-navbar.css";

@import "../components/home/mainRow3.css";
@import "../components/home/hero-dalis.css";
@import "../components/home/hero-footer.css";
@import "../components/home/main-header.css";
@import "../components/home/mainMainrow.css";
@import "../components/home/main-column-one.css";
@import "../components/home/main-row2.css";
@import "../components/home/main-row5.css";
@import "../components/home/mainRow4.css";

/* CUSTOM STYLE FOR THIS PAGE GOES BELOW THIS COMMENT */
